body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container-sm {
    margin-top: 30px;
    max-width: 900px;
    height: 350px;
    border: 1px solid #414141;
    background-color: #b9e6eb;
    border-radius: 10px;
    box-shadow: 5px 1px 10px #0d3283;
}
h1 {
    font-family: Baloo;
}


#texth3Index{
    color: #00306e;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#descrip{
    margin-left: 20px;
    margin-right: 20px;
}

button{
    margin-top: 20px;
}